.tmuvcform {
    font-size: .83em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    vertical-align: middle;
}

.vertcenter {
    font-size: .83em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    vertical-align: middle;
}