.tmuvcform {
    font-size: .83em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    vertical-align: middle;
}

.flightstrip {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    vertical-align: sub;
}

.CodedDepRoutes {
    font-size: 1.1em;
    color: black;
}

.vertcenter {
    font-size: .83em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    vertical-align: middle;
}

.output {
    text-align: center;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;

  }


.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 24px;
    width: 13px;
}

p.cursor::after {
    height: 13px;
    width: 6px;
}

input[type="text"], textarea {
    background-color: #1F1F1F;
    color: #F97E41;
    border: 1px solid black;
}

input[type="text"]:focus, textarea {
    background-color: #1F1F1F;
    color: #F97E41;
    border: 1px solid #F97E41;
}

select {
    background-color: #1F1F1F!important;
    color: #F97E41!important;
    border: 1px solid black!important;
}

select:focus {
    background-color: #1F1F1F!important;
    color: #F97E41!important;
    border: 1px solid#F97E41!important;
}

textarea {
    background-color: #1F1F1F!important;
    color: #F97E41!important;
    border: 1px solid black!important;
}

textarea:focus {
    background-color: #1F1F1F!important;
    color: #F97E41!important;
    border: 1px solid #F97E41!important;
}


.TextOr {
    color: #F97E41;
}

.OrBorder {
    border: 2px solid #F97E41;
}

.orange-under {
    color: #F97E41;
    text-decoration:underline;
}